<!DOCTYPE html>
html
	head
		title= 'Courses'
		style
			include index.css
	body
		script
			include index.js
		<div class= "header">
			<h1> Master Scheduling</h1>
		</div>
		
		<div class = "buttons">
			a(href="scheduler")
				button(type="button" class ="button" onclick='receiveSections()') Start/Return
			<button type="button" class = "button"> Open File </button>
		</div>
		<h4>Upload sections </h4>
		<form id = 'myForm'>
			<input type = "file" id = 'csvFile' accept = ".csv" />
			<br/>
			<input type = "submit" value = "upload" onclick = 'myF()'/>
		</form>
		<h4>Upload StudentSchedules</h4>
		<form id = 'StuSched'>
			<input type = "file" id = 'sched' accept = ".csv" />
			<br/>
			<input type = "submit" value = "upload" onclick = 'myS()'/>
		</form>
		

	