<!DOCTYPE html>
html
	head
		title= 'Students'
		style
			include index.css
	body
		script
			include home.js
		h1="Teachers"
		<input type="text" placeholder="Search.." id="tSearch">
			<button type="submit" onclick = 'teacherSched()'>Submit</button>