<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="index.css">
	<script src="scheduler.js"></script>
</head>
<body>

<h1>Teachers</h1>
<h3>Teacher Name </h3>
<form>
	<label for="lname">Last name:</label><br>
  	<input type="text" id="lname" name="lname" value=""><br>
  	<input type="submit" value="Submit">
</form>
<table>
	<tr>
		<th>Name</th>
		<th>Section Number </th>
		<th>Time </th>
	</tr>
	<tr>
		<td> </td>
		<td></td>
		<td></td>
	</tr>

</table>
<p>My first paragraph.</p>

</body>
</html>





